.li {
    list-style: "~";
    margin-left: 10px;
}

.indentedlist {
    margin-left: 15px;
    color: #fff;
    list-style: "↳";
}


.nodetree-text {
    margin-bottom: 20px;
}

.navbar-content {
    display: flex;
    flex-direction: column;
    color: #fa2673;
}

.navbar-content span {
    margin-left: 10px;
    cursor: pointer;
    margin-right: 20px;

}

.projects,
.certifications,
.pricing li {
    list-style-type: none;
}

/* done by arnav saxena and hritik aswani */